body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	background-color: #f4f4f4;
}

#resizeBtn {
	margin: 20px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	
}

#container {
	display: flex;
	flex-wrap: wrap;
	width: 960px;
	height: 960px;
	border: 2px solid black;
}

.square {
	box-sizing: border-box;
	border: 1px solid #ddd;
}